.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  /* background-color: #1a1a1a; */
  color: #fff;
}

h1 {
  font-family: "Monoton", cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  flex-direction: column;
}

input[type="text"] {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  /* margin-right: 0.5rem; */
  /* width: 70%; */
  background-color: #363636;
  color: #fff;
}

button[type="button"] {
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: #ff8c00;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="button"]:hover {
  background-color: #ff7100;
}

.buttons-controller {
  display: flex;
  margin: 1rem 0;
  gap: 1rem;
}

#status {
  margin-top: 1rem;
  font-size: 1.5rem;
}

#canvas {
  display: none;
}

body {
  background-color: #121212;
  color: #fff;
}

/* Add Google font */
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
